
<li class="header">RECEPTIONIST NAVIGATION</li>
<li><a href="@Url.Action("Index", "DashBoard", new { area="Admin"})"><i class="fa fa-dashboard"></i> <span>Receptionist Dashboard</span></a></li>

<li><a href="@Url.Action("Index", "Doctor", new { area="Admin"})"><i class="fa fa-user-md"></i> Doctor</a></li>

<li><a href="@Url.Action("Index", "Patient", new { area="Admin"})"><i class="fa fa-users"></i>Patient </a></li>

<li><a href="@Url.Action("Index", "Schedule", new { area="Admin"})"><i class="fa fa-calendar-times-o"></i> Schedule</a></li>

<li><a href="@Url.Action("Index", "NoticeBoard", new { area="Admin"})"><i class="fa fa-bullhorn"></i> <span>Noticeboard</span></a></li>



<li><a href="@Url.Action("Index", "Enquiry", new { area = "Admin" })"><i class="fa  fa-info"></i> <span> Enquiry</span></a></li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-envelope"></i> <span> Messages</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Compose", "Messages", new { area = "Admin" })"><i class="fa fa-pencil"></i> <span> New Message</span></a></li>
        <li><a href="@Url.Action("Inbox", "Messages", new { area = "Admin" })"><i class="fa fa-inbox"></i> <span> Inbox</span></a></li>
        <li><a href="@Url.Action("Sent", "Messages", new { area = "Admin" })"><i class="fa fa-send-o"></i> <span> Sent</span></a></li>

    </ul>
</li>


